{% extends "base.html" %} {% load static %} {% block title %} Ashish Nirmal -
Portfolio {% endblock %} {% block content %}

<section class="bg-dark text-white text-center py-5 mb-4">
  <div class="container">
    <h1 class="display-1 animate__animated animate__fadeInDown">
      Ashish Nirmal
    </h1>
    <p class="lead animate__animated animate__fadeInUp">
      Aspiring Software Developer | AI & ML Enthusiast
    </p>
  </div>
</section>

<section id="about" class="py-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="mb-4">
          <h5 class="display-6 mb-4 text-left">About Me</h5>
        </div>
        <div class="card shadow-sm border-0">
          <div class="card-body p-5">
            <div class="mb-3">
              <h5 class="card-title display-6">Hello!</h5>
            </div>
            <p class="card-text">
              I am Ashish Nirmal, a passionate and creative Computer Science and
              Engineering student specializing in Artificial Intelligence and
              Machine Learning at the
              <strong>Adani Institute of Infrastructure Engineering</strong>.
              With a strong academic record and hands-on experience in
              programming languages such as Java, Kotlin, C, and Python, I love
              to develop innovative software solutions that address real-world
              problems. I am eager to leverage my technical skills and
              creativity in a dynamic and challenging environment, contributing
              to impactful software solutions and driving technological
              advancements.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="education" class="py-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="display-6 mb-4 text-left">Education</h2>
        <div class="timeline">
          <div class="timeline-item mb-5 position-relative">
            <div class="row align-items-center">
              <div class="col-md-2 text-md-right text-center mb-3 mb-md-0">
                <span class="timeline-date">2021 - 2025</span>
              </div>
              <div class="col-md-10">
                <div class="card bg-dark text-white shadow">
                  <div class="card-body">
                    <h5 class="card-title">
                      Bachelor of Engineering – Computer Science & Engineering
                      (AI - ML)
                    </h5>
                    <p class="card-text">
                      Adani Institute of Infrastructure Engineering
                    </p>
                    <span class="timeline-date">CGPA: 8.75</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-item mb-5 position-relative">
            <div class="row align-items-center">
              <div class="col-md-2 text-md-right text-center mb-3 mb-md-0">
                <span class="timeline-date">2019 - 2021</span>
              </div>
              <div class="col-md-10">
                <div class="card bg-dark text-white shadow">
                  <div class="card-body">
                    <h5 class="card-title">Higher Secondary School</h5>
                    <p class="card-text">Utkarsh Higher Secondary School</p>
                    <span class="timeline-date">Percentage: 77.23%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="experience" class="py-5 bg-dark text-white">
  <div class="container">
    <h2 class="display-6 mb-4 text-white text-left">Experience</h2>
    <div class="timeline position-relative">
      <!-- Timeline Item -->
      <div class="timeline-item mb-4 position-relative">
        <div class="row align-items-center">
          <div class="col-md-2 text-md-right text-center mb-3 mb-md-0">
            <span class="timeline-date bg-dark text-white py-2 px-3 rounded">
              <strong><strong>July 2024</strong></strong>
            </span>
          </div>
          <div class="col-md-10">
            <div class="card bg-dark text-white shadow-lg border-2 h-100">
              <div class="card-body">
                <h5 class="card-title text-white">
                  Android Development Intern
                </h5>
                <p class="card-text text-muted mb-3">@Prodigy Infotech</p>
                <ul class="list-styled">
                  <li class="mb-2">
                    <i class="bi bi-check-circle-fill text-white me-2"></i
                    >Completed a 1-month educational internship focusing on
                    Android Development.
                  </li>
                  <li class="mb-2">
                    <i class="bi bi-check-circle-fill text-white me-2"></i
                    >Gained hands-on experience and practical skills in Android
                    development.
                  </li>
                  <li class="mb-2">
                    <i class="bi bi-check-circle-fill text-white me-2"></i
                    >Enhanced technical knowledge and contributed to development
                    projects.
                  </li>
                  <li class="mb-2">
                    <i class="bi bi-check-circle-fill text-white me-2"></i
                    ><strong>Project Details</strong>
                  </li>
                </ul>
                <section id="projects" class="container mt-3">
                  <div
                    id="projectCarousel"
                    class="carousel slide"
                    data-bs-ride="carousel"
                  >
                    <div class="carousel-indicators">
                      <button
                        type="button"
                        data-bs-target="#projectCarousel"
                        data-bs-slide-to="0"
                        class="active bg-white"
                        aria-current="true"
                        aria-label="Slide 1"
                      ></button>
                      <button
                        type="button"
                        data-bs-target="#projectCarousel"
                        data-bs-slide-to="1"
                        class="bg-white"
                        aria-label="Slide 2"
                      ></button>
                      <button
                        type="button"
                        data-bs-target="#projectCarousel"
                        data-bs-slide-to="2"
                        class="bg-white"
                        aria-label="Slide 3"
                      ></button>
                      <button
                        type="button"
                        data-bs-target="#projectCarousel"
                        data-bs-slide-to="3"
                        class="bg-white"
                        aria-label="Slide 4"
                      ></button>
                      <button
                        type="button"
                        data-bs-target="#projectCarousel"
                        data-bs-slide-to="4"
                        class="bg-white"
                        aria-label="Slide 5"
                      ></button>
                    </div>
                    <div class="carousel-inner">
                      <!-- Calculator App -->
                      <div class="carousel-item active">
                        <div
                          class="card bg-dark text-white shadow-lg border-2 rounded-3 h-100"
                        >
                          <div class="card-body">
                            <h5 class="card-title text-white mb-3">
                              Calculator App
                            </h5>
                            <ul class="list-unstyled">
                              <li class="mb-2">
                                <p class="card-text">
                                  <strong>Basic Arithmetic Operations:</strong>
                                  Performs addition, subtraction,
                                  multiplication, and division.
                                </p>
                              </li>
                              <li class="mb-2">
                                <p class="card-text">
                                  <strong>Clean Interface:</strong> Intuitive
                                  and responsive design for a seamless user
                                  experience.
                                </p>
                              </li>
                              <li class="mb-2">
                                <p class="card-text">
                                  <strong>Technical Proficiency:</strong>
                                  Demonstrates strong UI/UX skills and
                                  mathematical functionality implementation.
                                </p>
                              </li>
                            </ul>
                          </div>
                          <div
                            class="card-footer border-2 d-flex justify-content-end align-items-center py-2"
                          >
                            <a
                              href="https://github.com/Ashking1956/calculator"
                              target="_blank"
                              rel="noopener noreferrer"
                              class="d-flex align-items-center text-decoration-none"
                            >
                              <img
                                src="{% static 'icons/github_icon.png' %}"
                                class="img-fluid"
                                alt="GitHub"
                                style="
                                  max-width: 30px;
                                  filter: invert(100%) brightness(100%);
                                "
                              />
                            </a>
                          </div>
                        </div>
                      </div>

                      <!-- To-Do List App -->
                      <div class="carousel-item">
                        <div
                          class="card bg-dark text-white shadow-lg border-2 rounded-3 h-100"
                        >
                          <div class="card-body">
                            <h5 class="card-title text-white mb-3">
                              To-Do List App
                            </h5>
                            <ul class="list-unstyled">
                              <li class="mb-2">
                                <p class="card-text">
                                  <strong>Task Management:</strong> Allows users
                                  to add, edit, and delete tasks effortlessly.
                                </p>
                              </li>
                              <li class="mb-2">
                                <p class="card-text">
                                  <strong>User-Friendly Design:</strong>
                                  Intuitive interface for smooth task handling.
                                </p>
                              </li>
                              <li class="mb-2">
                                <p class="card-text">
                                  <strong>Efficient Data Storage:</strong>
                                  Effective local data management and CRUD
                                  operations.
                                </p>
                              </li>
                            </ul>
                          </div>
                          <div
                            class="card-footer border-2 d-flex justify-content-end align-items-center py-2"
                          >
                            <a
                              href="https://github.com/Ashking1956/To-Do-List-App"
                              target="_blank"
                              rel="noopener noreferrer"
                              class="d-flex align-items-center text-decoration-none"
                            >
                              <img
                                src="{% static 'icons/github_icon.png' %}"
                                class="img-fluid"
                                alt="GitHub"
                                style="
                                  max-width: 30px;
                                  filter: invert(100%) brightness(100%);
                                "
                              />
                            </a>
                          </div>
                        </div>
                      </div>
                      <!-- Stopwatch App -->
                      <div class="carousel-item">
                        <div
                          class="card bg-dark text-white shadow-lg border-2 rounded-3 h-100"
                        >
                          <div class="card-body">
                            <h5 class="card-title text-white mb-3">
                              Stopwatch App
                            </h5>
                            <ul class="list-unstyled">
                              <li class="mb-2">
                                <p class="card-text">
                                  <strong>Accurate Timekeeping:</strong>
                                  Reliable stopwatch with start, stop, and reset
                                  functionalities.
                                </p>
                              </li>
                              <li class="mb-2">
                                <p class="card-text">
                                  <strong>Simple Interface:</strong> Easy-to-use
                                  design ensuring precise time measurement.
                                </p>
                              </li>
                              <li class="mb-2">
                                <p class="card-text">
                                  <strong>Attention to Detail:</strong>
                                  Demonstrates proficiency in implementing
                                  time-based features.
                                </p>
                              </li>
                            </ul>
                          </div>
                          <div
                            class="card-footer border-2 d-flex justify-content-end align-items-center py-2"
                          >
                            <a
                              href="https://github.com/Ashking1956/Stopwatch-App"
                              target="_blank"
                              rel="noopener noreferrer"
                              class="d-flex align-items-center text-decoration-none"
                            >
                              <img
                                src="{% static 'icons/github_icon.png' %}"
                                class="img-fluid"
                                alt="GitHub"
                                style="
                                  max-width: 30px;
                                  filter: invert(100%) brightness(100%);
                                "
                              />
                            </a>
                          </div>
                        </div>
                      </div>

                      <!-- Tic Tac Toe Game App -->
                      <div class="carousel-item">
                        <div
                          class="card bg-dark text-white shadow-lg border-2 rounded-3 h-100"
                        >
                          <div class="card-body">
                            <h5 class="card-title text-white mb-3">
                              Tic Tac Toe Game App
                            </h5>
                            <ul class="list-unstyled">
                              <li class="mb-2">
                                <p class="card-text">
                                  <strong>Two-Player Mode:</strong> Classic game
                                  allowing two players to take turns.
                                </p>
                              </li>
                              <li class="mb-2">
                                <p class="card-text">
                                  <strong>Interactive Gameplay:</strong>
                                  Engaging and clear game interface.
                                </p>
                              </li>
                              <li class="mb-2">
                                <p class="card-text">
                                  <strong>Game Logic:</strong> Includes reset
                                  option to start new games, showcasing logical
                                  and functional programming skills.
                                </p>
                              </li>
                            </ul>
                          </div>
                          <div
                            class="card-footer border-2 d-flex justify-content-end align-items-center py-2"
                          >
                            <a
                              href="https://github.com/Ashking1956/Tic-Tac-Toe"
                              target="_blank"
                              rel="noopener noreferrer"
                              class="d-flex align-items-center text-decoration-none"
                            >
                              <img
                                src="{% static 'icons/github_icon.png' %}"
                                class="img-fluid"
                                alt="GitHub"
                                style="
                                  max-width: 30px;
                                  filter: invert(100%) brightness(100%);
                                "
                              />
                            </a>
                          </div>
                        </div>
                      </div>

                      <!-- QR Code Scanner App -->
                      <div class="carousel-item">
                        <div
                          class="card bg-dark text-white shadow-lg border-2 rounded-3 h-100"
                        >
                          <div class="card-body">
                            <h5 class="card-title text-white mb-3">
                              QR Code Scanner App
                            </h5>
                            <ul class="list-unstyled">
                              <li class="mb-2">
                                <p class="card-text">
                                  <strong>QR Code Scanning:</strong> Utilizes
                                  the device’s camera to scan and decode QR
                                  codes.
                                </p>
                              </li>
                              <li class="mb-2">
                                <p class="card-text">
                                  <strong>Information Display:</strong> Extracts
                                  and displays information from scanned codes.
                                </p>
                              </li>
                              <li class="mb-2">
                                <p class="card-text">
                                  <strong>Actionable Features:</strong> Provides
                                  options to open links or perform actions based
                                  on scanned content, highlighting integration
                                  with external libraries and camera
                                  functionalities.
                                </p>
                              </li>
                            </ul>
                          </div>
                          <div
                            class="card-footer border-2 d-flex justify-content-end align-items-center py-2"
                          >
                            <a
                              href="https://github.com/Ashking1956/QR-Code-Scanner"
                              target="_blank"
                              rel="noopener noreferrer"
                              class="d-flex align-items-center text-decoration-none"
                            >
                              <img
                                src="{% static 'icons/github_icon.png' %}"
                                class="img-fluid"
                                alt="GitHub"
                                style="
                                  max-width: 30px;
                                  filter: invert(100%) brightness(100%);
                                "
                              />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Timeline Item -->
      <div class="timeline-item mb-3 position-relative">
        <div class="row align-items-center">
          <div class="col-md-2 text-md-right text-center mb-3 mb-md-0">
            <span class="timeline-date bg-dark text-white py-2 px-3 rounded">
              <strong><strong>June 2024</strong></strong>
            </span>
          </div>
          <div class="col-md-10">
            <div class="card bg-dark text-white shadow-lg border-2">
              <div class="card-body">
                <h5 class="card-title text-white">
                  IBM SkillsBuild AI-ML Internship
                </h5>
                <p class="card-text text-muted mb-3">@IBM</p>
                <ul class="list-styled">
                  <li class="mb-2">
                    <i class="bi bi-check-circle-fill text-white me-2"></i>
                    Completed a 3-week AI-focused internship with IBM
                    SkillsBuild and CSRBOX.
                  </li>
                  <li class="mb-2">
                    <i class="bi bi-check-circle-fill text-white me-2"></i>
                    Enhanced technical and professional skills through curated
                    courses on the IBM SkillsBuild platform.
                  </li>
                  <li class="mb-2">
                    <i class="bi bi-check-circle-fill text-white me-2"></i>
                    Attended masterclasses on Generative AI, Transformers, Large
                    Language Models, and ML with Python.
                  </li>
                  <li class="mb-2">
                    <i class="bi bi-check-circle-fill text-white me-2"></i>
                    Designed and fine-tuned a chatbot using Watson Assistant.
                  </li>
                  <li class="mb-2">
                    <i class="bi bi-check-circle-fill text-white me-2"></i>
                    Completed and presented a final AI project, earning
                    certification from IBM SkillsBuild.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add More Timeline Items as needed -->
    </div>
  </div>
</section>

<section id="projects" class="py-5 bg-dark text-white">
  <div class="container">
    <h2 class="display-6 mb-4 text-left">Projects</h2>
    <div class="row">
      {% comment %} TuneMood Card View {% endcomment %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <img
            src="{% static 'images/CareerExplorer.png' %}"
            class="card-img-top img-fluid p-3"
            alt="TuneMood Project"
          />
          <div class="card-body">
            <h5 class="card-title">TuneMood: AI-based music player app</h5>
            <p class="card-text text-muted text">
              An AI-based music player app that curates song recommendations
              based on user mood and preferences. Utilizes emotional
              intelligence and advanced algorithms for a personalized listening
              experience.
            </p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#moreInfoTuneMood"
              aria-expanded="false"
              aria-controls="moreInfoTuneMood"
            >
              More Info
            </button>
            <a
              href="https://github.com/Ashking1956/TuneMood"
              target="_blank"
              rel="noopener noreferrer"
              class="align-self-end"
            >
              <img
                src="{% static 'icons/github_icon.png' %}"
                class="img-fluid"
                alt="GitHub"
                style="max-width: 30px; filter: invert(100%) brightness(100%)"
              />
            </a>
          </div>
          <ul
            class="list-group list-group-flush collapse"
            id="moreInfoTuneMood"
          >
            <li class="list-group-item">
              <strong>Tools:</strong> Kotlin, Jetpack Compose, Android Studio,
              Python
            </li>
            <li class="list-group-item">
              <strong>Features:</strong> Mood detection, personalized playlists,
              voice commands
            </li>
            <li class="list-group-item">
              <strong>Challenges:</strong> Implementing real-time mood
              detection, optimizing recommendation algorithms
            </li>
          </ul>
        </div>
      </div>

      {% comment %} ExplorerInns Card View {% endcomment %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <img
            src="{% static 'images/ExplorerInns.png' %}"
            class="card-img-top img-fluid"
            alt="ExplorerInns Project"
          />
          <div class="card-body">
            <h5 class="card-title">
              ExplorerInns: ML-based recommendation system for accommodation
            </h5>
            <p class="card-text text-muted">
              A comprehensive ML-based recommendation system for accommodation
              planning. Provides personalized lodging suggestions and detailed
              information to enhance travel experiences.
            </p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#moreInfoExplorerInns"
              aria-expanded="false"
              aria-controls="moreInfoExplorerInns"
            >
              More Info
            </button>
            <a
              href="https://github.com/Ashking1956/ExplorerInns"
              target="_blank"
              rel="noopener noreferrer"
              class="align-self-end"
            >
              <img
                src="{% static 'icons/github_icon.png' %}"
                class="img-fluid"
                alt="GitHub"
                style="max-width: 30px; filter: invert(100%) brightness(100%)"
              />
            </a>
          </div>
          <ul
            class="list-group list-group-flush collapse"
            id="moreInfoExplorerInns"
          >
            <li class="list-group-item">
              <strong>Tools:</strong> React.js, Node.js, Express.js, MongoDB,
              Mongoose, Python
            </li>
          </ul>
        </div>
      </div>

      {% comment %} CareerExplorer Card View {% endcomment %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <img
            src="{% static 'images/CareerExplorer.png' %}"
            class="card-img-top img-fluid p-3"
            alt="CareerExplorer Project"
          />
          <div class="card-body">
            <h5 class="card-title">
              CareerExplorer: Platform for exploring career paths
            </h5>
            <p class="card-text text-muted">
              A platform for exploring potential career paths, offering insights
              into industries, job roles, and educational requirements. Features
              personalized career assessments and up-to-date industry
              information.
            </p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#moreInfoCareerExplorer"
              aria-expanded="false"
              aria-controls="moreInfoCareerExplorer"
            >
              More Info
            </button>
            <a
              href="https://github.com/Ashking1956/CareerExplorer"
              target="_blank"
              rel="noopener noreferrer"
              class="align-self-end"
            >
              <img
                style="filter: invert(100%) brightness(100%); max-width: 30px"
                src="{% static 'icons/github_icon.png' %}"
                class="img-fluid"
                alt="GitHub"
              />
            </a>
          </div>
          <ul
            class="list-group list-group-flush collapse"
            id="moreInfoCareerExplorer"
          >
            <li class="list-group-item">
              <strong>Tools:</strong> HTML, CSS, JavaScript, MySQL, React.js,
              Node.js, Express.js, MongoDB, Mongoose
            </li>
          </ul>
        </div>
      </div>

      {% comment %} E-Seva Card View {% endcomment %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <img
            src="{% static 'images/CareerExplorer.png' %}"
            class="card-img-top img-fluid p-3"
            alt="E Seva Project"
          />
          <div class="card-body">
            <h5 class="card-title">
              E – Seva: Application for awareness about government schemes
            </h5>
            <p class="card-text text-muted">
              An application providing awareness about government schemes
              tailored to different professions. Offers guides on eligibility,
              necessary documents, and locations of government offices for both
              state and central schemes.
            </p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#moreInfoESeva"
              aria-expanded="false"
              aria-controls="moreInfoESeva"
            >
              More Info
            </button>
            <a
              href="https://github.com/Ashking1956/E-Seva"
              target="_blank"
              rel="noopener noreferrer"
              class="align-self-end"
            >
              <img
                style="filter: invert(100%) brightness(100%); max-width: 30px"
                src="{% static 'icons/github_icon.png' %}"
                class="img-fluid"
                alt="GitHub"
              />
            </a>
          </div>
          <ul class="list-group list-group-flush collapse" id="moreInfoESeva">
            <li class="list-group-item">
              <strong>Tools:</strong> Kotlin, Jetpack Compose, Android Studio
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="skills" class="py-5 bg-dark text-white">
  <div class="container">
    <h2 class="display-6 mb-4 text-left">Skills</h2>
    <div class="row">
      <div class="col-lg-6">
        <div class="card bg-dark text-white mb-2 shadow-sm border">
          <div class="card-body">
            <h5 class="card-title">Programming Languages</h5>
            <p class="card-text">
              C, Java, Kotlin, Python, JavaScript, HTML, CSS
            </p>
          </div>
        </div>
        <div class="card bg-dark text-white mb-2 shadow-sm border">
          <div class="card-body">
            <h5 class="card-title">Frameworks</h5>
            <p class="card-text">
              Jetpack Compose, Django, React.js, Node.js, Express.js
            </p>
          </div>
        </div>
        <div class="card bg-dark text-white mb-2 shadow-sm border">
          <div class="card-body">
            <h5 class="card-title">Library</h5>
            <p class="card-text">
              NumPy, Pandas, Matplotlib, Seaborn, TensorFlow, StreamLit
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card bg-dark text-white mb-2 shadow-sm border">
          <div class="card-body">
            <h5 class="card-title">Databases</h5>
            <p class="card-text">MySQL, MongoDB, Room</p>
          </div>
        </div>
        <div class="card bg-dark text-white mb-2 shadow-sm border">
          <div class="card-body">
            <h5 class="card-title">Development Tool</h5>
            <p class="card-text">
              VS Code, Android Studio, PyCharm, Firebase, Git, GitHub, Jira
            </p>
          </div>
        </div>
        <div class="card bg-dark text-white mb-2 shadow-sm border">
          <div class="card-body">
            <h5 class="card-title">Design Tools</h5>
            <p class="card-text">Figma, Canva</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="certificates-achievements" class="py-5 bg-dark text-white">
  <div class="container mt-5">
    <div class="row">
      <!-- Certificates Section -->
      <div class="col-md-6 mb-4">
        <h2 class="display-6 mb-4">Certificates</h2>
        <div
          id="certificateCarousel"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#certificateCarousel"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#certificateCarousel"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#certificateCarousel"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#certificateCarousel"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="{% static 'certificates/ai_fundamentals_ibm_badge.png' %}"
                class="d-block w-100"
                alt="Certificate 1"
              />
            </div>
            <div class="carousel-item">
              <img
                src="{% static 'certificates/getting_started_wiht_ai_ibm_badge.png' %}"
                class="d-block w-100"
                alt="Certificate 2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="{% static 'certificates/Android Certi.png' %}"
                class="d-block w-100"
                alt="Certificate 3"
              />
            </div>
            <div class="carousel-item">
              <img
                src="{% static 'certificates/Android Certi.png' %}"
                class="d-block w-100"
                alt="Certificate 4"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#certificateCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#certificateCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <!-- Achievements Section -->
      <div class="col-md-6 mb-4">
        <h2 class="display-6 mb-4">Achievements</h2>
        <div
          id="achievementsCarousel"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#achievementsCarousel"
              data-bs-slide-to="0"
              class="active bg-white"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#achievementsCarousel"
              data-bs-slide-to="1"
              class="bg-white"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#achievementsCarousel"
              data-bs-slide-to="2"
              class="bg-white"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <!-- AU-IBM Hackathon Season 2 -->
            <div class="carousel-item active">
              <div class="card bg-dark border-2 shadow-lg rounded-lg">
                <div class="card-body">
                  <h5 class="card-title text-white">
                    AU-IQM Corporation Hackathon 2023 Season 2
                  </h5>
                  <p class="card-text">
                    <strong>Date:</strong> 29/07/23 – 30/07/23
                  </p>
                  <p class="card-text">
                    <strong>Venue:</strong> Adani University
                  </p>
                  <p class="card-text"><strong>Ranked:</strong> First</p>
                  <p class="card-text">
                    <strong>Introduction:</strong> NewsHub is a
                    hackathon-winning web platform designed to revolutionize how
                    users read and share news. Recognized for its innovative
                    design and user-centric approach, NewsHub was developed
                    using React.js, Node.js, Express.js, and MongoDB, with a
                    focus on personalized recommendations and intuitive search
                    by pin code.
                  </p>
                  <div class="collapse" id="details1">
                    <p class="card-text">
                      <strong>Problem Statement:</strong> In today's fast-paced
                      world, staying updated with relevant news can be
                      challenging. NewsHub addresses this by offering a
                      personalized news reading experience based on users'
                      interests and locations.
                    </p>
                    <p class="card-text">
                      <strong>Approach:</strong> Our approach was bottom-to-top,
                      starting with user needs and building a robust platform
                      around those requirements. This method ensured a
                      user-friendly interface and seamless functionality.
                    </p>
                    <p class="card-text">
                      <strong>Solution:</strong> NewsHub provides a streamlined
                      user flow from registration to news consumption, featuring
                      personalized recommendations, category selection, and
                      intuitive search and filter options.
                    </p>
                  </div>
                </div>
                <div
                  class="card-footer bg-dark border-2 d-flex justify-content-between align-items-center"
                >
                  <button
                    class="btn btn-primary"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#details1"
                    aria-expanded="false"
                    aria-controls="details1"
                  >
                    More Info
                  </button>
                  <a
                    href="https://github.com/Ashking1956/NewsHub"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <img
                      src="{% static 'icons/github_icon.png' %}"
                      class="img-fluid"
                      alt="GitHub"
                      style="max-width: 30px; filter: invert(100%)"
                    />
                  </a>
                </div>
              </div>
            </div>
            {% comment %} TODO : DAIICT Hackathon {% endcomment %}
            <!-- DUHacks 3.0 -->
            <div class="carousel-item">
              <div class="card bg-dark border-2 shadow-lg rounded-lg">
                <div class="card-body">
                  <h5 class="card-title text-white">DUHacks 3.0 Hackathon</h5>
                  <p class="card-text">
                    <strong>Date:</strong> 23/02/24 – 25/02/24
                  </p>
                  <p class="card-text"><strong>Venue:</strong> Online</p>
                  <p class="card-text"><strong>Ranked:</strong> Top 50</p>
                  <p class="card-text">
                    <strong>Introduction:</strong> AutoCraftML is an innovative
                    web platform developed for DUHacks 3.0, designed to automate
                    the machine learning pipeline. This tool empowers users to
                    effortlessly upload datasets, preprocess data, and train
                    models with minimal effort, making machine learning
                    accessible to those without extensive expertise.
                  </p>
                  <div class="collapse" id="details2">
                    <p class="card-text">
                      <strong>Problem Statement:</strong> Machine learning can
                      be complex and time-consuming, especially for users
                      without a deep understanding of data science. AutoCraftML
                      simplifies this process by automating repetitive tasks and
                      offering an intuitive interface for efficient model
                      development and deployment.
                    </p>
                    <p class="card-text">
                      <strong>Approach:</strong> Our approach focuses on
                      creating a user-friendly platform that streamlines the
                      machine learning workflow. By automating data
                      preprocessing, model training, and visualization, we
                      reduce the manual effort required and make advanced
                      machine learning accessible to a broader audience.
                    </p>
                    <p class="card-text">
                      <strong>Solution:</strong> AutoCraftML provides an
                      end-to-end solution for automating machine learning tasks,
                      including data upload, preprocessing, model training, and
                      visualization. The platform supports both classification
                      and regression tasks and allows users to download their
                      trained models for future use.
                    </p>
                  </div>
                </div>
                <div
                  class="card-footer bg-dark border-2 d-flex justify-content-between align-items-center"
                >
                  <button
                    class="btn btn-primary"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#details2"
                    aria-expanded="false"
                    aria-controls="details2"
                  >
                    More Info
                  </button>
                  <a
                    href="https://github.com/Ashking1956/AutoCraftML"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <img
                      src="{% static 'icons/github_icon.png' %}"
                      class="img-fluid"
                      alt="GitHub"
                      style="max-width: 30px; filter: invert(100%)"
                    />
                  </a>
                </div>
              </div>
            </div>
            <!-- Odoo Hackathon -->
            <div class="carousel-item">
              <div class="card bg-dark border-2 shadow-lg rounded-lg">
                <div class="card-body">
                  <h5 class="card-title text-white">Odoo Hackathon 2024</h5>
                  <p class="card-text">
                    <strong>Date:</strong> 14/07/23 – 14/07/23
                  </p>
                  <p class="card-text">
                    <strong>Venue:</strong> Odoo , Gandhinagar
                  </p>
                  <p class="card-text"><strong>Ranked:</strong> Top 50</p>
                  <p class="card-text">
                    <strong>Introduction:</strong> The Library Management System
                    aimed to streamline the process of managing book
                    inventories, tracking borrower details, and handling
                    transactions efficiently. Although the entire project wasn't
                    completed, significant progress was made in developing user
                    management and book inventory management features.
                  </p>
                  <div class="collapse" id="details3">
                    <p class="card-text">
                      <strong>Problem Statement:</strong> The challenge was to
                      develop a comprehensive Library Management System that
                      allows users to manage book inventories, track borrower
                      details, and handle transactions efficiently. The system
                      needed to include user management, book inventory
                      management, a borrowing system, search and
                      recommendations, notifications, alerts, and reporting
                      functionalities.
                    </p>
                    <p class="card-text">
                      <strong>Approach:</strong> Our approach to developing the
                      Library Management System for the Odoo Hackathon 2024
                      involved a detailed requirement analysis, prioritizing
                      User Management and Book Inventory Management. We designed
                      a scalable architecture using Django, focusing on
                      role-based access control and integrating the Google Books
                      API for efficient book management. Despite time
                      constraints, we successfully implemented core
                      functionalities, showcasing our technical capabilities and
                      effective prioritization.
                    </p>
                    <p class="card-text">
                      <strong>Solution:</strong> The solution for the Library
                      Management System involved developing a robust
                      Django-based backend to manage user roles, book
                      inventories, and transactions. Key features included
                      secure user authentication, real-time book availability
                      updates, and efficient book management using the Google
                      Books API. This approach ensured streamlined operations
                      and a user-friendly experience, laying a strong foundation
                      for further enhancements.
                    </p>
                  </div>
                </div>
                <div
                  class="card-footer bg-dark border-2 d-flex justify-content-between align-items-center"
                >
                  <button
                    class="btn btn-primary"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#details3"
                    aria-expanded="false"
                    aria-controls="details3"
                  >
                    More Info
                  </button>
                  <a
                    href="https://github.com/HydrallHarsh/Library-Management-System"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <img
                      src="{% static 'icons/github_icon.png' %}"
                      class="img-fluid"
                      alt="GitHub"
                      style="max-width: 30px; filter: invert(100%)"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="py-5 bg-dark">
  <div class="container">
    <h2 class="display-6 mb-4 text-left text-white">Contact</h2>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card shadow-sm border-2 h-100">
          <div class="card-body">
            <ul class="list-styled">
              <li>
                <i class="bi bi-envelope"></i>
                <a href="mailto:nirmal.ashish2004@gmail.com"
                  >nirmal.ashish2004@gmail.com</a
                >
              </li>
              <li><i class="bi bi-telephone"></i> +91 99136 25073</li>
              <li><i class="bi bi-geo-alt"></i> Ahmedabad, Gujarat, India</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
